
body {
    background-color: #FCFAFA;
    color: #16423C;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav li {
    padding: 20px;
}

.nav a:hover {
    color: #16423C;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;

}