
body, html {
    height: 100vh;
}

body {
    background-color: #FCFAFA;
    color: #16423C;
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    background-image: url(images/food_bg1.jpg);
    box-shadow: 0 0 8px 8px white inset;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
  }


.bg h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #16423C;
    font-size: 75px;
    padding: 25px 100px 20px 100px;
    margin-top: 75px;
    text-shadow: 1px 1px 3px black;

}

img.w-100 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.col {
    text-align: center;
}


.nav li {
    padding: 20px;
}

.nav a:hover {
    color: #16423C;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;

}

.bg p {
    font-family: Arial, Helvetica, sans-serif;
    color: #16423C;
    padding-bottom: 50px;
    font-size: large;

}

#main {
    margin-bottom: 300px;
}

#section2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #16423C;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 25px;
}


#section2 h1 {
    font-weight: bold;
}

#section2 h2 {
    font-size: 20px;
}


#about {
    padding: 100px;
}

a:link {
    text-decoration: none;
}



.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    color:#16423C;
}

.card-title:hover {
    color: #6A9C89;
}

.card-img-top:hover {
    opacity: 75%;
}

.card-text {
    font-weight: lighter;
    color:#16423C;
}

#all {
    padding:20px;
    margin: 50px;
}

#all h1 {
    color: #16423C;
}

article {
    padding: 50px;
    margin: 50px;
    color: #16423C;
}

article h1, p {
    text-align: center;
}

.flexbox img {
    float: left;
    margin-right: 75px;
    margin-bottom: 75px;
}

.flexbox {
    display:flex;
    flex-direction: column;
}

.newsletter {
    background-color: #16423C;
    color: #FCFAFA;
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
